In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## Train ANN

In [12]:
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [13]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

# Compile the model
model.compile(optimizer = 'adam', loss = 'mean_absolute_error', metrics = ['mae'])

# summary:
model.summary()

WARNING:tensorflow:From d:\Coding\Machine_Learning\Projects\Deeplearning_ANN\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\Coding\Machine_Learning\Projects\Deeplearning_ANN\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [15]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [16]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\Coding\Machine_Learning\Projects\Deeplearning_ANN\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\Coding\Machine_Learning\Projects\Deeplearning_ANN\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 6ms/step - loss: 100352.3672 - mae: 100352.3672 - val_loss: 98417.5547 - val_mae: 98417.5547
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99249.9688 - mae: 99249.9688 - val_loss: 96192.0781 - val_mae: 96192.0781
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 95438.3438 - mae: 95438.3438 - val_loss: 90653.7109 - val_mae: 90653.7109
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 88221.6250 - mae: 88221.6250 - val_loss: 81940.9922 - val_mae: 81940.9922
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 78361.1016 - mae: 78361.1016 - val_loss: 71685.0859 - val_mae: 71685.0859
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 67972.4062 - mae: 67972.4062 - val_loss: 62326.3984 - val_mae: 62326.3984
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 59522.0039 - mae: 59522.0039 - val_loss: 55734.9062 - val_mae: 55734.9062
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 54270.1016 - mae: 54270.1016 - val_loss: 52339.4492 - val_mae: 52339.4492
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 51693.6289 - mae: 51693.6289 - val_loss: 51028.0039 - val_mae: 51028.0039
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 50720.0430 - mae: 50720.0430 - val_loss: 50657.1445 - val_mae: 50657.1445
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 50381.4727 - mae: 50381.4727 - val_loss: 50571.5469 - val_mae: 50571.5469
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50244.7578 - mae: 50244.7578 - val_loss: 50522.8281 - val_mae: 50522.8281
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 50161.3906 - mae: 50161.3906 - val_loss: 50488.8008 - val_mae: 50488.8008
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50102.1250 - mae: 50102.1250 - val_loss: 50462.6484 - val_mae: 50462.6484
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50048.6602 - mae: 50048.6602 - val_loss: 50428.0703 - val_mae: 50428.0703
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50005.9141 - mae: 50005.9141 - val_loss: 50406.8281 - val_mae: 50406.8281
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 49967.3359 - mae: 49967.3359 - val_loss: 50389.1875 - val_mae: 50389.1875
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 49929.7227 - mae: 49929.7227 - val_loss: 50374.2305 - val_mae: 50374.2305
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 49898.5625 - mae: 49898.5625 - val_loss: 50357.9883 - val_mae: 50357.9883
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 49868.0000 - mae: 49868.0000 - val_loss: 50349.4531 - val_mae: 50349.4531
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49842.5742 - mae: 49842.5742 - val_loss: 50337.3633 - val_mae: 50337.3633
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49819.7266 - mae: 49819.7266 - val_loss: 50328.7305 - val_mae: 50328.7305
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49793.9531 - mae: 49793.9531 - val_loss: 50322.7148 - val_mae: 50322.7148
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49771.1641 - mae: 49771.1641 - val_loss: 50292.3125 - val_mae: 50292.3125
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49749.0703 - mae: 49749.0703 - val_loss: 50297.1797 - val_mae: 50297.1797
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49736.1445 - mae: 49736.1445 - val_loss: 50289.1289 - val_mae: 50289.1289
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49718.1641 - mae: 49718.1641 - val_loss: 50279.1250 - val_mae: 50279.1250
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49701.2461 - mae: 49701.2461 - val_loss: 50268.5938 - val_mae: 50268.5938
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49680.4453 - mae: 49680.4453 - val_loss: 50257.5938 - val_mae: 50257.5938
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49666.4609 - mae: 49666.4609 - val_loss: 50257.3203 - val_mae: 50257.3203
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49654.7188 - mae: 49654.7188 - val_loss: 50258.4297 - val_mae: 50258.4297
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49637.6641 - mae: 49637.6641 - val_loss: 50249.8984 - val_mae: 50249.8984
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49624.4023 - mae: 49624.4023 - val_loss: 50231.0859 - val_mae: 50231.0859
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49615.3164 - mae: 49615.3164 - val_loss: 50253.6250 - val_mae: 50253.6250
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49601.4141 - mae: 49601.4141 - val_loss: 50260.4219 - val_mae: 50260.4219
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49593.8047 - mae: 49593.8047 - val_loss: 50241.8125 - val_mae: 50241.8125
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49581.8398 - mae: 49581.8398 - val_loss: 50253.5195 - val_mae: 50253.5195
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49572.2734 - mae: 49572.2734 - val_loss: 50237.5430 - val_mae: 50237.5430
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49564.0586 - mae: 49564.0586 - val_loss: 50237.8398 - val_mae: 50237.8398
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49553.9062 - mae: 49553.9062 - val_loss: 50255.8398 - val_mae: 50255.8398
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49541.4961 - mae: 49541.4961 - val_loss: 50230.0508 - val_mae: 50230.0508
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49532.0625 - mae: 49532.0625 - val_loss: 50232.8203 - val_mae: 50232.8203
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49524.2656 - mae: 49524.2656 - val_loss: 50243.8086 - val_mae: 50243.8086
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49516.0508 - mae: 49516.0508 - val_loss: 50244.5195 - val_mae: 50244.5195
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49507.3047 - mae: 49507.3047 - val_loss: 50237.5547 - val_mae: 50237.5547
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49499.2891 - mae: 49499.2891 - val_loss: 50232.5234 - val_mae: 50232.5234
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49487.6836 - mae: 49487.6836 - val_loss: 50250.1758 - val_mae: 50250.1758
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49484.7969 - mae: 49484.7969 - val_loss: 50231.3711 - val_mae: 50231.3711
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49480.7852 - mae: 49480.7852 - val_loss: 50248.5664 - val_mae: 50248.5664
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49468.9766 - mae: 49468.9766 - val_loss: 50248.1914 - val_mae: 50248.1914
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49465.2383 - mae: 49465.2383 - val_loss: 50246.6719 - val_mae: 50246.6719

In [17]:
%load_ext tensorboard

In [20]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 26804), started 0:00:43 ago. (Use '!kill 26804' to kill it.)

In [22]:
# Evaluate the model for test data:
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test MAE: {test_mae}")

63/63 [==============================] - 0s 1ms/step - loss: 50230.0508 - mae: 50230.0508
Test MAE: 50230.05078125

In [24]:
model.save('regression_model.h5')

d:\Coding\Machine_Learning\Projects\Deeplearning_ANN\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(